@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcjonalne: Ustawienia dla płynnego scrollowania i tła */
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
}
